In [1]:
import pandas as pd
# Read in the data
schools = pd.read_csv("E://projects//NYC-schools//schools.csv")
# Preview the data
print(schools.head())

                                         school_name    borough building_code  \
0  New Explorations into Science, Technology and ...  Manhattan          M022
1                               Essex Street Academy  Manhattan          M445
2                       Lower Manhattan Arts Academy  Manhattan          M445
3    High School for Dual Language and Asian Studies  Manhattan          M445
4      Henry Street School for International Studies  Manhattan          M056

   average_math  average_reading  average_writing  percent_tested
0           657              601              601             NaN
1           395              411              387            78.9
2           418              428              415            65.1
3           613              453              463            95.9
4           410              406              381            59.7

In [2]:
# Which NYC schools have the best math results? 
# The best math results are at least 80% of the

# To calculate the number of math grades that give a percentage of 80% 
precnt_math = (80*800)/100
# filter the data above 80%
best_schools = schools[schools["average_math"]>=precnt_math]
#Subsetting school_name and average_math columns and sorting it by average_math in descending orde
best_math_schools= best_schools[["school_name","average_math"]].sort_values("average_math",ascending=False)
print(best_math_schools)

                                           school_name  average_math
88                              Stuyvesant High School           754
170                       Bronx High School of Science           714
93                 Staten Island Technical High School           711
365  Queens High School for the Sciences at York Co...           701
68   High School for Mathematics, Science, and Engi...           683
280                     Brooklyn Technical High School           682
333                        Townsend Harris High School           680
174  High School of American Studies at Lehman College           669
0    New Explorations into Science, Technology and ...           657
45                       Eleanor Roosevelt High School           641

In [3]:
# What are the top 10 performing schools based on the combined SAT scores?

# add new column total_SAT
schools ["total_SAT"] = schools["average_math"]+schools["average_reading"]+schools["average_writing"]
# Subsetting school_name and average_math columns and sorting it by total_SAT in descending orde
subset = schools[["school_name","total_SAT"]].sort_values("total_SAT",ascending=False)
# Subsetting top ten school 
top_10_schools = subset.iloc[:10]
print(top_10_schools)

                                           school_name  total_SAT
88                              Stuyvesant High School       2144
170                       Bronx High School of Science       2041
93                 Staten Island Technical High School       2041
174  High School of American Studies at Lehman College       2013
333                        Townsend Harris High School       1981
365  Queens High School for the Sciences at York Co...       1947
5                       Bard High School Early College       1914
280                     Brooklyn Technical High School       1896
45                       Eleanor Roosevelt High School       1889
68   High School for Mathematics, Science, and Engi...       1889

In [4]:
# Which single borough has the largest standard deviation in the combined SAT score?

borough = schools.groupby("borough")["total_SAT"].agg(["std","mean","count"]).round(2)
borough = borough.rename(columns={"std":"std_SAT","mean":"average_SAT","count":"num_schools"})
largest_std_dev = borough[borough["std_SAT"] == borough["std_SAT"].max()]
largest_std_dev.reset_index(inplace=True)
print(largest_std_dev.head())

     borough  std_SAT  average_SAT  num_schools
0  Manhattan   230.29      1340.13           89